* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgb(235, 235, 235);
    max-width: max-content;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    margin-top: 8px;
    min-height: 110%;
    box-shadow: 5px 5px 5px 5px rgb(145, 142, 142);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    margin: 10px;
    text-align: center;
    font-size: 1.1rem;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border-left: 3px solid;
    border-radius: 10px;
    border-width: 3;
    height: 30px;
    text-align: center;
    padding-top: 6px;
}

li div {
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

li div p:nth-child(1) {
    margin-right: 20px;
}

li p {
    max-width: max-content;
    white-space: unset;
}

.priority {
    min-width: 90px;
    min-height: 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.container0 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: space-between;
}

h1 {
    margin-top: 10px;
}

.container0 input {
    font-size: 1rem;
    border-radius: 20px;
    padding: 6px;
    font-style: italic;
    background-color: rgb(243, 243, 244);
    max-width: 150px;
}

.container0 button {
    font-size: 1.1rem;
    max-width: 100px;
}

.container0 select {
    font-size: 1rem;
    border-radius: 20px;
    padding: 6px;
    font-style: italic;
    background-color: rgb(243, 243, 244);
    max-width: 100px;
}

.container0 button {
    font-size: 1rem;
    border-radius: 20px;
    padding: 6px;
    font-style: italic;
    background-color: rgb(243, 243, 244);
    max-width: 100px;
}

.remove li input {
    display: none;
}

@media screen and (max-width: 580px) {
    .container0 input {
        font-size: 0.8rem;
        border-radius: 20px;
        padding: 6px;
        font-style: italic;
        background-color: rgb(243, 243, 244);
        max-width: 90px;
    }

    h2{
        font-size: 1.5rem;
    }

    .main{
        max-width: 350px;
        margin-left: 10px;
    }

    .container1{
        margin-left: -10px;
    }

    .priority{
        display: none;
    }

    li{
        font-size: 1rem;
        white-space: nowrap;
        margin-left: -10px !important;
        padding-top: 6px !important;
        gap : 0px ;
        text-overflow: hidden;
    }
    li input {
        margin-left: -10px;
        margin-right: -8px;
    }
}